body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

h1 {
    color: rgb(30, 255, 0);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

th {
    background-color: lightgray;
}
